<%- include('../partials/header.ejs') %>
<h2>NEW EVENT</h2>

<form method="POST" enctype="multipart/form-data" action="/events">
	<fieldset>
		<legend>Add a new event</legend>
		<div>
			 <label for="name">*NAME</label>
        	<input 
        		type="text" 
        		name="name" 
        		id="name" 
        		placeholder="Enter events name" 
        	/>
		</div>
    	<div>
    		 <label for="date">*DATE</label>
    		 <input 
    		 	type="date" 
    		 	name="date" 
    		 	id="date"
          value="<%= todaysDate %>" 
    		 />
    	</div>
    	<div>
    		<label for="location">*LOCATION</label>
    		<input 
    			type="string" 
    			name="location"
    			id="location"
    			placeholder="ENTER THE ADDRESS" 
    		/>
    	</div>
      <div>
        <label for="eventPhoto">DISPLAY PIC:</label>
        <input type="file" id="eventPhoto" name="eventPhoto">
      </div>
  		<div>
  			<label for="details">DETAILS</label>
  			<input 
  				type="text" 
  				name="details" 
  				id="details" 
  				placeholder="ADD SOME INFO"
  			/>
  		</div>
  		<div>
  			<label for="capacity">CAPACITY</label>
  			<input 
  				type="number" 
  				name="capacity" 
  				id="capacity" 
  				placeholder="HOW MANY PEOPLE"
  			/>
  		</div>
  		<button>ADD THE EVENT</button>
	</fieldset>
</form>





<%- include('../partials/footer.ejs') %>
