<%- include('../partials/header.ejs') %>

<div class="eachPage">

	<div class="pageName">
	
		<h3>access</h3>
		<h3>denied</h3>
		
	</div>

	<div class="authPages">
		
		<p>hey that't not your account!</p>
		<p>Or if it is...<a href="/auth/login">login here</a
		></p>

	</div>

	<%= message %>

</div>

<%- include('../partials/footer.ejs') %>