<%- include('../partials/header.ejs') %>

<h2>ACCESS DENIED</h2>
<p>hey that't not your account!</p>
<a href="/auth/login">If it is, login here</a>

<%= message %>

<%- include('../partials/footer.ejs') %>