<%- include('../partials/header.ejs') %>

	<div class="pageName">
	
		<h3>login</h3>
		
	</div>
	

<%= message %>

	<div class="authPage">
				
		<form method="POST" action="/auth/login">
			<fieldset>
				<div>
					<label for="username">USERNAME:</label>
					<input 
						type="text" 
						name="username" 
						id="username" 
						placeholder="username" 
						required
					/ >
				</div>
				<div>
					<label for="password">PASSWORD:</label>
					<input 
						type="password" 
						name="password" 
						id="password" 
						placeholder="password" 
						required
					/ >
				</div>
			</fieldset>
			<button>LOG IN</button>
		</form>

	</div>

<%- include('../partials/footer.ejs') %>