<!DOCTYPE html>
<html>
<head>
	<title>GigHub</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<main>

	<header>
		<nav>
			<ul>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/">HOME</a>
						<a class="dropdown-item" href="/bands">BANDS</a>
					</div>	
				</li>
			</ul>
		</nav>
<!-- 			<div class="bandDropdown">
				<button class="bandsButton">BANDS
					<i class="caretDown"></i>
				</button>
				<div class="bandContent">
					<a href="/bands/new">NEW</a>
					<a href="/bands/">ALL BANDS</a>
				</div>
			</div>
		</div>
 -->

<!-- 		<nav>
			<a href="/">HOME</a>
			|
			<a href="/users">USERS</a>
			|
			<a href="/bands">BANDS</a>
			|
			<a href="/bands/new">NEW BAND</a>
			|
			<a href="/events">EVENTS</a>
			|
			<a href="/events/new">NEW EVENT</a>
		</nav>

		<nav>
			<a href="/photos">ALL PHOTOS</a>
			|
			<a href="/photos/new">ADD PHOTOS</a>
		</nav> -->

		<nav>		
					<!-- using username because loggedIn wasnt registering as true -->
			<% if(!username) { -%>
				
				<a href="/auth/login">LOGIN</a>
				|
				<a href="/auth/register">REGISTER</a>
				
			<% } else { -%>

				<a href="/auth/logout">LOGOUT</a>
				
			<% } -%>

		</nav>

	</header>