 <%- include('../partials/header.ejs') %>

<div class="entirePage">
	
	<img src="/<%= photo.pic %>" height="300">


	 <form method="POST" action="/photos/<%= photo._id %>?_method=DELETE">
	    <button>Delete this pic!</button>
	  </form>
	
</div>


  <%- include('../partials/footer.ejs') %>
