<%- include('../partials/header.ejs') %>
	
	<h2> ALL PICS</h2>

	<div class="photoGrid">
		<% photos.forEach((photo) => { %>
			<a href="/users/<%= photo.user %>"><img class="photoGridPics" src="/<%= photo.pic %>" height="300"></p>
		<%})%>
	</div>



<%- include('../partials/footer.ejs') %>