<%- include('./partials/header.ejs') %>

<div class="eachPage">
	<div class="pageName">
	
		<h3>404</h3>
		
	</div>

	<div>
		<i>page not found :(</i>
	</div>

</div>
<%- include('./partials/footer.ejs') %>