<%- include('./partials/header.ejs') %>

<div class="eachPage">
	<div class="pageName">
	
		<h3>contact</h3>
		
	</div>

	<div class="contactPage">
		<p>IZZY</p>
		<div class="socialMediaIcons">
			<a href="https://github.com/izzystst"><img src="./css/images/gighub.png" target="_blank"></a>
			<a href="https://www.linkedin.com/in/izzy-stanton/" target="_blank"><img src="./css/images/linkedin.png"></a>
			<a href="https://www.instagram.com/isobellas/" target="_blank"><img src="./css/images/insta.png"></a>
		</div>
		<p>x</p>

		<p>SAM</p>
		<div class="socialMediaIcons">
			<a href="https://github.com/samantharand" target="_blank"><img src="./css/images/gighub.png"></a>
			<a href="https://www.linkedin.com/in/samantharand/" target="_blank"><img src="./css/images/linkedin.png"></a>
			<a href="https://twitter.com/samijanis" target="_blank"><img src="./css/images/twitter.png"></a>
			<a href="https://www.instagram.com/samanthajanicerand/" target="_blank"><img src="./css/images/insta.png"></a>
		</div>
	</div>

</div>

<%- include('./partials/footer.ejs') %>