<%- include('./partials/header.ejs') %>

	<div class="goodMessage">

		<p><%= message %></p>
		
	</div>
	
	<div class="homePage">
		

		<div class="siteInfo">
			<p>
				A place for you and your favorite local bands.
			</p>

			<p>
				<a href="/bands/new">Start a band - </a>
				<ul>
					<p>show off you band, link to your music, get fans, play shows.</p>
				</ul>
			</p>
			<p>
				<a href="/events/new">Host an event - </a>
				<ul>
					<p>set up events for ur favorite bands and support local venues.</p>
				</ul>
			</p>
			<p>
				<a href="/users">Be a fan - </a>
				<ul>
					<p>discover new music, share photos of your favorite shows, and find out about the best upcoming events in you neighborhood.</p>
				</ul>
			</p>
		</div>

		<div class="homePhoto">
			<img src="./css/images/whit.jpg">
		</div>

	</div>


<%- include('./partials/footer.ejs') %>