<%- include('./partials/header.ejs') %>

<h2>home</h2>

<form action="/" enctype="multipart/form-data" method="POST">
	<input type="file" id="file-to-upload" name="file-to-upload">
	<input type="submit" name="Upload">
</form>




<%- include('./partials/footer.ejs') %>