<%- include('./partials/header.ejs') %>

	<div class="goodMessage">

		<p><%= message %></p>
		
	</div>
	
	<div class="homePage">
		

		<div class="siteInfo">
			<p>
				A place for you and your favorite local bands.
			</p>

			<p>
				<a href="/bands/new">Start a band - </a>
				<ul>
					<p>show off you band blah blah link to your music get fans etc etc etc</p>
				</ul>
			</p>
			<p>
				<a href="/events/new">Host an event - </a>
				<ul>
					<p>set up events for ur fav bands blah blah blah local venues</p>
				</ul>
			</p>
			<p>
				or just be<a href="/users">a fan.</a>
				<ul>
					<p>blah bla blah attend events and check </p>
				</ul>
			</p>
		</div>

		<div class="homePhoto">
			<img src="./css/images/whit.jpg">
		</div>

	</div>


<%- include('./partials/footer.ejs') %>