main {
	height: 95vh;
	overflow: scroll;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: thistle;
}

a {
	padding: 5px;
}

.photoGrid {
	display: flex;
	justify-content: center;
}

.photoGridPics {
	height: 250px;
}

.indexProfilePhoto {
	height: 250px;
}

.userCardGrid {
	display: flex;
	justify-content: center;
}

.userCard {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	margin: 5px;
}

img	{
	padding: 5px;
}

footer {
	background-color: thistle;
	text-align: center;
}



/*nav*/

.navbar {
	overflow: hidden;
	background-color: red;
}

.navbar a {
	float: left;
	text-align: center;
}

.bandDropdown {
	float: left;
	overflow: hidden;
}

.bandDropdown .bandsButton {
	background-color: lightblue;
}

.navbar a:hover, .bandDropdown:hover .bandsButton {
	background-color: blue;
}

.bandContent {
	display: none;
	position: absolute;
	background-color: white;
}

.bandContent: hover {
	display: block;
	position: relative;
}










