body {
	margin-top: 75px;
	background-color: #E2E8DD;
	color: #4E5340;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
	font-weight: 200;
	/*justify-content: center;*/
}

.entireSite {
	width: 75vw;
	height: 85vh;
}

.eachPage {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	overflow: scroll;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #E2E8DD;
	color:  #4E5340;
	position: fixed;
	width: 75vw;
}

main {
	margin: 0 auto;
	height: 85vh;
	overflow: scroll;
	margin-top: 50px;
	padding: 5px;
	padding-top: 25px;
	display: flex;
	justify-content: center;
}

h2 {
	font-weight: 200;
	font-size: 2em;
}

.pageName {
	margin-top: -50px;
	height: 80vh;
	position: absolute;
	display: flex;
	align-items: center;
	letter-spacing: 2em;
}

.authPages, .required, .errorMessage, .editPages {
	display: flex;
	flex-direction: column;
	border: 1px #4E5340 solid;
	padding: 15px;
	width: 40%;
	align-items: center;
	margin: 0 auto;
}

.required, .errorMessage {
	border: none;
	padding: 0;
	flex-direction: row;
	justify-content: flex-end;
	font-size: .75em;
}

.errorMessage {
	color: maroon;
	font-weight: 200;
}

.goodMessage {
	position: relative;
	margin-bottom: -25px;
	font-weight: 200;
}

.contact {
	font-weight: 300;
}

h3 {
	font-weight: 200;
	writing-mode: vertical-rl;
	text-orientation: upright;
	margin-left: 0;
	font-size: 20px;
}

a {
	margin: 5px;
	font-weight: 200;
	color: #4E5340;
}

a:hover {

	color: #697268;
	font-style: italic;
}

button {
	margin: 5px 0;
	color: #4E5340;
}

/*user index page - whole page div*/

.cardGrid, .userPhotoGrid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/*margin-top: 50px;*/
}

/*individual user cards*/

.photoCard {
	display: flex;
	flex-direction: column;
	/*border: 1px solid yellow;*/
	margin: 5px;
	overflow: scroll;
}

.indexInfo {
	/*border: 1px solid red;*/
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.indexInfo:hover .indexName {
	display: flex
}

.indexName {
	/*border: 1px solid blue;*/
	position: absolute;
	z-index: 2;
	background-color: rgba(219,217,224, .5);
	height: 87%;
	width: 86%;
	display: none;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	text-align: center;
}

.indexName a {
	position: relative;
	font-size: 22px;
	font-weight: 500;
	color: #5D576B;
}


/*user card photo*/
.indexPhoto,  .photoGridPics {
	filter: grayscale(100%);
	height: 200px;
}

.indexInfo:hover .indexPhoto, .photoGridPicsParent:hover .photoGridPics {
	filter: grayscale(25%);
}

.photoIndexInfo, .adminControls {
	display: flex;
	justify-content: flex-end;
	font-size: .75em;
	margin-top: -12px;
	padding-right: 15px;
}

/*trying to get the cool layout on event and home and show page vv */

.eventInfo, .siteInfo {
	background: url("./purpleGrain.png") thistle;
	overflow: scroll;
	opacity: 95%;
	width: 350px;
	height: 425px;
	padding: 10px;
	margin-top: 50px;
	position: absolute;
	box-shadow: 9px -5px 11px -1px rgba(36,36,36,0.26);
}

.edit {
	margin-top: 25px;
	font-size: 15px;
}

.comments {
	background: url("./lightPurpleGrain.png") lavenderblush;
	opacity: 95%;
	overflow: scroll;
	height: 300px;
	margin-left: 500px;
	margin-top: -250px;
	padding: 10px;
	box-shadow: -9px -5px 11px -1px rgba(36,36,36,0.26);

}

.commentForm {
	display: flex;
	flex-direction: column;	
}

.commentsDisplay {
	display: flex;
	flex-direction: column-reverse;
}

.entireComment {
	padding: 5px;
}

.commentBody {
	border: 1px #4E5340 solid;
	padding: 2px;
	margin: 2px;
}

.commentInfo {
	font-size: 12px;
}

.eventPhoto, .homePhoto {
	margin-top: -50px;
	margin-left: 250px;
	height: 450px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
/*trying to get the cool layout on event page ^^ */



/*show page vvv */

.userShowPage, .bandShowPage {
	display: flex;
	align-items: : center;
	/*justify-content: center;*/
	flex-direction: column;
	width: 100%;
	height: 100%;

}

.userPicAndInfo, .bandPicAndInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.userPhotoShowPage, .bandPhotoShowPage {
	height: 10%;
	width: 10%;
}

.userPhotoShowPage > img {
	height: 200px;
	 margin-left: -180px;
}

 .bandPhotoShowPage > img {
 	height: 300px;
 	margin-left: -180px;
 }

.basicUserInfo, .basicBandInfo {
	width: 100%;
	background: url('./purpleGrain.png');
	box-shadow: -9px -5px 11px -1px rgba(36,36,36,0.26);
	margin-left: 200px;
	margin-top: 80px;
	width: 40%;
	padding: 20px;
}

.noneYet {
	font-size: .75em;
}

/*show page ^^^ */

/*edit pages vvv*/

.editPages {
	display: flex;
	flex-direction: column;
	border: 1px #4E5340 solid;
	/*padding: 15px;*/
	/*width: 50%;*/
	overflow: scroll;
	align-items: center;
	margin: 0 auto;
}

.editComment > form{
	display: flex;
	flex-direction: column;
}

.deleteComment {
	width: 100%;
}

/*edit pages ^^^*/

img	{
	padding: 5px;
}

footer {
	width: 75vw;
	height: 7vh;
	background-color: #E2E8DD;
	text-align: center;
	position: sticky;
	padding-top: 15px;
}

















