<%- include('../partials/header.ejs') %>
	<form method="POST" action="/users/<%= user.id %>/newPassword?_method=PUT">
		<fieldset>
			<div>
				<label for="password">NEW PASSWORD:</label>
				<input 
					type="password" 
					name="password" 
					id="password" 
					placeholder="password" 
					required
				/ >
			</div>
		<button>SUBMIT EDITS</button>
		</fieldset>
	</form>


<%- include('../partials/footer.ejs') %>
